@model IEnumerable<Book>

@{
    ViewData["Title"] = "Simple Book Management System";
}

<h1 style="text-align:center">Simple Book Management System</h1>
<h3 style="text-align: center">Books</h3>
<p style="text-align: center">
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="border: 1px solid Blue;margin:auto">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
                @Html.HiddenFor(modelItem => item.RowVersion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
